<div
  id="hamburger"
  class="flex cursor-pointer flex-col items-center justify-center space-y-1 sm:hidden"
>
  <span id="ham1" class="h-1 w-8 rounded-md bg-slate-800 transition"></span>
  <span id="ham2" class="h-1 w-8 rounded-md bg-slate-800 transition"></span>
  <span id="ham3" class="h-1 w-8 rounded-md bg-slate-800 transition"></span>
  <!-- {[...Array(3)].map(() => <span class="h-1 w-8 rounded-md bg-slate-800" />)} -->
</div>
