---
// Per creare una navbar responsive con pulsante hamburger inserire `flex-wrap` nel container e nel child del menu `flex: 1 1 100%` quando è visualizzato sul mobile e `flex: 0 1 auto` quando viene visualizzato alle altre risoluzioni.
// Importante è che il pulsante hamburger sia posizionato prima del menu.
// Se si vuole aggiungere ad esempio un pulsante per la ricerca visualizzabile su mobile tramite pulsante hamburger deve essere nascosto quando è visualizzato sul mobile e flex quando viene visualizzato alle altre risoluzioni. In più aggiungere allo script js un toggle dove viene tolta e riaggiunta la visibilità.

import { Image } from "astro:assets";
// È consigliato che le immagini locali siano salvate in /src quando possibile in modo che Astro possa trasformarle, ottimizzarle e raggrupparle.
// I file nella directory /public vengono sempre serviti o copiati nella cartella di compilazione così come sono, senza elaborazione.
// import localImage from '../images/localImage.png';
import Main from "@/components/Main.astro";
import Navigation from "@/components/Navigation.astro";
import Hamburger from "@/components/Hamburger.astro";
---

<header class="mb-10 bg-red-500 py-6 sm:mb-20 sm:py-10">
  <Main cl="flex flex-wrap flex-row items-center justify-between">
    <a href="/" class="flex items-center gap-x-4">
      <Image
        src="/favicon.svg"
        alt="logo"
        width={64}
        height={64}
        format="webp"
        class="w-12 sm:w-16"
      />
      <p class="text-xl uppercase sm:text-3xl">logo</p>
    </a>
    <Hamburger />
    <Navigation />
    <!-- <div id="ricerca" class="hidden sm:flex">ricerca</div> -->
  </Main>
</header>
